{% extends 'base.html.twig' %}

{% block body %}
    {{ packages|length }}
    <br>
    {% for package in packages %}
       name {{ package.name }}<br>
       description {{ package.description}}
        <br>
    {% endfor %}
{% endblock %}
