{% extends 'base.html.twig' %}

{% block body %}
    {{ form(form) }}
    <a style = "text-decoration: none;color: deeppink" href="{{ path('article_index') }}">main</a>
        <script src="http://code.jquery.com/jquery-latest.js"></script>
        <style type="text/css">
        </style>
        <script type="text/javascript">
        </script>
    <select id="cd-dropdown" class="cd-select" onchange="top.location=this.value">
        <option value=""></option>
        <option value="http://127.0.0.1:8000/article/en/create" class="icon-1">en</option>
        <option value="http://127.0.0.1:8000/article/ru/create" class="icon-2">ru</option>
    </select>

{% endblock %}
